.banner {
    position: relative;
    margin-top: 70px;
    &-img {
        width: 100%;
        height: 100%;
    }
    &-main {
        position: absolute;
        width: 100%;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-family: $heading-font;
        max-width: 1024px;
    }
    &-heading {
        font-size: 6em;
        font-weight: 600;
        line-height: calc(73 / 60);
        color: $white-color;
        text-shadow: 7px 6px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
    &-desc {
        font-size: 2.4em;
        font-weight: 500;
        color: #fafafa;
        line-height: calc(30 / 24);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        animation: typing 20s steps(55) forwards;
        transition-delay: 10s;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 5px;
        border-right: 5px solid;
        display: block;
        text-align: center;
    }
}
@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
        border-right: transparent;
    }
}
@media screen and (max-width: 1023.98px) {
    .banner-heading {
        font-size: 3.6em;
        font-weight: 500;
        margin-bottom: 8px;
    }
    .banner-desc {
        font-size: 1.6em;
        font-weight: 500;
    }
}
@media screen and (max-width: 767.98px) {
    .banner-heading {
        font-size: 2.8em;
        font-weight: 400;
        margin-bottom: 0px;
    }
    .banner {
        margin-top: 60px;
    }
    .banner-desc {
        font-size: 1.4em;
        font-weight: 300;
    }
}
@media screen and (max-width: 600px) {
    .banner {
        margin-top: 55px;
    }
    .banner-desc {
        font-size: 1.2em;
        font-weight: 300;
    }
}

@media screen and (max-width: 480px) {
    .banner-heading {
        font-size: 2em;
    }
    .header-link {
        font-size: 1.5em;
        margin-bottom: 10px;
        padding: 10px 0;
    }
    .header-navbar {
        width: 60%;
    }
    .header-navbar .close {
        top: 10px;
        right: 10px;
    }
}
