.client {
    background: #f5f6f8;
    &-main {
        padding: 70px 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        width: 100%;
    }
    &-item {
        margin: 40px 25px;
        padding: 20px;
        background-color: #fff;
        border-radius: 12px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        width: calc(100% / 3);
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    &-top {
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }
    &-avt {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-name {
        margin-top: 28px;
        flex: 1;
        font-size: 2em;
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 8px;
    }
    &-work {
        text-align: center;
        font-size: 1.4em;
        font-weight: 400;
        color: #6d7487;
    }
    .star {
        margin-top: 10px;
        padding: 13px 0;
        i {
            color: #fab33f;
            font-size: 14px;
        }
    }
    &-desc {
        font-weight: 400;
        font-size: 1.5em;
        color: #646670;
        line-height: 1.4;
    }
}
@media screen and (max-width: 1023.98px) {
    .client-list {
        scroll-padding: 25px;
        grid-auto-flow: column;
        scroll-snap-stop: always;
        scroll-snap-type: x mandatory;
        overflow: auto;
    }
    .client-list::-webkit-scrollbar {
        display: none;
    }
    .client-item {
        flex-shrink: 0;
        flex-grow: 1;
        scroll-snap-align: start;
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .client-item {
        width: 70%;
    }
}
@media screen and (max-width: 480px) {
    .client-list {
        scroll-padding: 15px;
    }
    .client-item {
        margin: 40px 5px;
        padding: 30px;
        width: 80%;
    }
}
