.client {
    background-color: #cacaca;
    background: #f5f6f8;
    &-main {
        padding: 70px 10px;
        //    border-bottom: 1px solid $boder-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &-list {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 30px;
    }
    &-item {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 12px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }

    &-top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(-50%);
        margin-top: 50px;
        border-bottom: 1px solid #000;
        padding-bottom: 26px;
    }
    &-avt {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: -12%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-name {
        margin-top: 38px;
        flex: 1;
        font-size: 2em;
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 8px;
    }
    &-work {
        text-align: center;
        font-size: 1.4em;
        font-weight: 400;
        color: #6d7487;
    }
    .star {
        margin-bottom: 18px;
        i {
            color: #fab33f;
            font-size: 14px;
        }
    }
    &-desc {
        font-weight: 400;
        font-size: 1.6em;
        color: #646670;
        max-width: 226px;
        line-height: 1.4;
    }
}
@media screen and (max-width: 1023.98px) {
    .client-list {
        margin-top: 50px;
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        padding: 45px;
        scroll-padding: 25px;
        grid-gap: 0 20px;
    }
    .client-list {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .client-list::-webkit-scrollbar {
        display: none;
    }
    .client-item {
        scroll-snap-align: start;
    }
}
