.companion {
    &-main {
        padding: 80px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        max-width: 1200px;
        flex-wrap: wrap;
        gap: 40px 75px;
    }
    &-img {
        width: 180px;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .companion-img {
        width: 120px;
        height: 100%;
    }
    .companion-main {
        padding: 40px 20px;
    }
}
