.question {
    &-main {
        padding: 70px 0;
        border-bottom: 1px solid $boder-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &-list {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-item {
        display: flex;
        align-items: center;
        gap: 0 20px;
        background-color: $primary-color;
        margin-bottom: 20px;
        padding: 18px 20px;
        border-radius: 14px;
        color: #fff;
        transition: 0.3s linear;
        cursor: pointer;
        i {
            font-size: 18px;
            color: #fff;
        }
        &:hover {
            box-shadow: rgba(40, 75, 99, 0.4) 5px 5px, rgba(40, 75, 99, 0.3) 10px 10px, rgba(40, 75, 99, 0.2) 15px 15px,
                rgba(40, 75, 99, 0.1) 20px 20px, rgba(40, 75, 99, 0.05) 25px 25px;
        }
    }
    &-text {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        flex-grow: 1;
        line-height: calc(38 / 24);
    }
}
@media screen and (max-width: 1023.98px) {
    .question-main {
        padding: 40px 10px;
    }
    .question-list {
        margin-top: 20px;
    }
    .question-item {
        padding: 20px;
        gap: 0 20px;
    }
    .question-text {
        font-size: 1.4em;
        font-weight: 500;
    }
}

@media screen and (max-width: 600px) {
    .question-item {
        padding: 15px;
        gap: 0 10px;
        i {
            font-size: 1.4em;
        }
    }
    .question-text {
        font-size: 1.2em;
        font-weight: 300;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .question-item:hover {
        box-shadow: none;
    }
}
