.service {
    &-main {
        padding: 80px 10px;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        //    border-bottom: 1px solid $boder-color;
    }
    &-list {
        margin-inline: 50px;
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 360px;
        grid-gap: 0 20px;
    }
    &-item {
        padding: 30px;
        background-color: $white-color;
        box-shadow: 0px 60px 100px -10px rgba(35, 47, 70, 0.06);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        transition: 0.3s;
        margin: 0 10px;
        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
    &-img {
        flex-shrink: 0;
        width: 90px;
        height: 90px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        svg {
            padding: 15px;
            width: 100%;
            height: 100%;
        }
        .icon-buy,
        .icon-map {
            padding: 22px;
        }
        //    img {
        //        width: 100%;
        //        height: 100%;
        //    }
    }
    &-title {
        flex: 1;
        font-size: 2.2em;
        color: $text-heading;
        font-weight: 600;
        line-height: calc(36 / 24);
        margin-bottom: 8px;
    }
    &-desc {
        flex: 1;
        font-size: 1.6em;
        font-weight: 400;
        line-height: calc(26 / 16);
        color: $text-color;
    }
}
@media screen and (max-width: 1023.98px) {
    .service-main {
        padding: 50px 10px;
    }
    .service-list {
        margin-inline: 0px;
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 50%;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        padding: 25px;
        scroll-padding: 25px;
        grid-gap: 0 20px;
    }
    .service-list {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .service-list::-webkit-scrollbar {
        display: none;
    }
    .service-item {
        scroll-snap-align: start;
        padding: 36px 24px;
    }
    .service-title {
        font-size: 2em;
        font-weight: 600;
    }
}
@media screen and (max-width: 767.98px) {
    .service-list {
        // padding: 50px;
        // margin-left: 480px;
        grid-auto-columns: 60%;
    }
}
