$heading-font:'Inter', sans-serif;
$primary-font:'Poppins', sans-serif;
$primary-color:#284b63;
$primary-color-opacity:rgba(40, 75, 99, 0.4);
$text-heading:#1E2A39;
$black-color:#000;
$text-color:#5C6272;
$white-color:#fff;
$boder-color:#BBABAB;